<p>
<a href="/new" class="btn btn-default">+ Add Event</a>
</p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-hide="events.length"><td>No events found</td></tr>
    <tr ng-repeat="event in events">
      <td>
        <a href="/edit/{{$index}}">
          {{event.name}}
        </a>
      </td>
      <td>{{event.date}}</td>
    </tr>
    </tbody>
  </table>
</div>
<h3>Options</h3>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="vibrate"> Vibrate when switching
    </label>
  </div>
<p>
<button ng-click="save()" class='btn btn-primary btn-block' id='save'>Save</button>
</p>


